@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
body{
    background-color: rgb(233, 231, 231);
    font-family: 'Lora', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 20px;
    color: black;
}

.container{
    background-color: white;
}

.profile-photo{
    width: 100%;
    border-radius: 5px;
}

.links{
    font-weight: bold;
}

hr{
    border: 1px solid black;
    top: -5px;
    position: relative;
    margin:0px;
}

#name{
    font-weight: bold;
    margin-top: 50px;
}

.date{
    text-align: right;
    font-weight: bold;
    float:right;
}

.company-logo{
    height: 30;
}
